<div class="page-header">
  <h1>Novo Comentário</h1>
</div>

<%= render 'form' %>

<div class="row">
		<div class="col-lg-6">
			<div class="control-group">
				<%= link_to 'Voltar', comentarios_path, class: 'btn btn-default form-control', style: 'margin-top: 10px;' %>
			</div>
		</div>
	</div>
