<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>

<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=fdJc1_IBKJA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>WL Tecnologia</h1>  
        <h3>Seu Blog de Tecnologia onde você encontra notícias e muito mais!</h3>

          <%= link_to 'Entrar', usuarios_path, class: 'btn btn-primary btn-lg col-xs-4', 
                      style: 'margin-top: 10px; margin-left: 350px;' %>

     </div>
      </div>
    </div>
  </div>
</section>