<h1>Novo Upload de Imagem</h1>

<%= render 'form' %>
	<div class="row">
		<div class="col-lg-6">
			<div class="control-group">
				<%= link_to 'Voltar', uploads_path, class: 'btn btn-default form-control', style: 'margin-top: 10px;' %>
			</div>
		</div>
	</div>